.form-check {
    position: relative;
    display: inline-block;
  }
  
  /* tooltip text */
  .form-check .tooltiptext {
    visibility: hidden;
    width: 380px;
    background-color: #0000008c;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* position tooltip text */
    position: absolute;
    z-index: 1;
  }
  
  /* show tooltip text on hover */
  .form-check:hover .tooltiptext {
    visibility: visible;
  }  