{% extends 'base.html' %}
{% include 'nav.html' %}
{% block content %}
<div class="container">
    <br/>
    <br/>
    <body>
        <h1>Gamma</h1> 
        <iframe width="40%" height="225" scrolling="no" frameborder="no" allow="autoplay" 
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1520937535&color=%23180902&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
            <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
            <a href="https://soundcloud.com/isis-najera-189318587" title="Isis Najera" target="_blank" style="color: #cccccc; text-decoration: none;">Isis Najera</a> ·
            <a href="https://soundcloud.com/isis-najera-189318587/sets/gamma-waves" title="Gamma Waves (30hz - 44hz )" target="_blank" style="color: #cccccc; text-decoration: none;">Gamma Waves (30hz - 44hz )</a>
        </div>
    </body>
</div>
<br>
<div class="container">
    <body>
        <h3>Your Brain On Gamma Waves</h3>   
</div>
<br/>
<div class="container">
    <div class="row">
        <div class="col-4">
                <div class="card">
                    <img src="image_location" alt="High Level Cognition">
                    <div class="card-body">
                        <h5 class="card-title">High Level Cognition</h5>
                        <p class="card-text">
                            <p></p>info.....</p>
                        <ul>
                            <li><a href="https://www.ted.com/talks/dan_gartenberg_the_brain_benefits_of_deep_sleep_and_how_to_get_more_of_it" target="_blank" rel="noopener noreferrer">The Brain Benefits Of Deep Sleep</a></li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="image_location" alt="Memory Recall">
                    <div class="card-body">
                        <h5 class="card-title">Memory Recall</h5>
                        <p class="card-text">
                            <p>.....</p>
                        <ul>
                            <li><a href="">link to something...</a></li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="image_location" alt="Peak Awareness">
                    <div class="card-body">
                        <h5 class="card-title">Peak Awareness</h5>
                        <p class="card-text">
                            <p>....</p>
                            <p>info.....</p>
                        <ul>
                            <li><a href="">link to something...</a></li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<!-- PLAYLIST URL: 1520937535 -->