

{% extends 'base.html' %}
{% include 'nav_index.html' %}
{% block content %}

<div class="container">
<br/>
<br/>
<br>
<br>
<br>
<body>
	<div class="w3-display-container w3-animate-opacity">
		<img src="/static/images/bg_001.png" alt="Boat" style="width:100%;min-height:200px;max-height:400px;">
		<div class="w3-display-middle w3-text-white w3-jumbo">Sailing</div>
		<div class="w3-container w3-display-bottomright w3-text-white w3-large">
		  <p>Brought to you by Captain Hook</p>
		</div>
	  </div>

	<div class="row justify-content-center align-items-center">
		<div class="col-lg-9 text-center mt-5">
		<h1 class="heading aos-init aos-animate" data-aos="fade-up" style="font-size:250%; font-family: monospace;">Discover The Power Of Sound Healing</h1>

		<nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">
			<ol class="breadcrumb text-center justify-content-center">
			<li><a style="text-decoration: none; font-size:120%; margin-right: 10px;" href="/login">Login</a></li>
			<li><a style="text-decoration: none; font-size:150%;"> | </a></li>
			<li><a style="text-decoration: none; font-size:120%; margin-left: 10px; margin-right: 10px;" href="/signup">Signup</a></li>
			<li><a style="text-decoration: none; font-size:150%;"> | </a></li>
			<li><a style="text-decoration: none; font-size:120%; margin-left: 10px;" href="/mapjs">About</a></li>
			</ol>
		</nav>
		</div>
	</div>
</body>
</div>

{% endblock %}

