{% extends 'base.html' %}
{% include 'nav_index.html' %}
{% block content %}
<div class="container">
<br/>
<br/>



<form action="/login" method="POST">
    <!-- form action and method need to match in app.route in (server.py) -->
    <div class="form-floating col-md-3">
        <input type="text" name="email" class="form-control" placeholder="Email">
        <label for="floatingEmail">Email</label>
    </div>
    <br>
    <div class="form-floating col-md-3">
        <input type="password" name="password" class="form-control" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <br/>
    <div class="homepage-background">
        <button
            class="btn btn-primary btn-xl homepage-login-button"
            data-toggle="modal"
            data-target="#login-modal">
            Log In
        </button>
      </div>
    </form>
</div>
{% endblock %}


