<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
  body,h1 {font-family: "Raleway", sans-serif}
  body, html {height: 100%}
</style>
</head>

<div class="w3-display-topleft w3-padding-large w3-xlarge">
  <a style="text-decoration: none; font-size:110%; color: black;" href="/dashboard">
  WAVES
  </a>
</div>
<div class="w3-display-topright w3-padding-large">
  <a style="text-decoration: none; font-size:120%; color: black;" href="/dashboard">
    Home
  </a>
  <a style="text-decoration: none; font-size:120%; color: black;"> | </a>
  <a style="text-decoration: none; font-size:120%; color: black;" href="/mapjs">
    About
  </a>
  <a style="text-decoration: none; font-size:120%; color: black;"> | </a>
  <a style="text-decoration: none; font-size:120%; color: black;" href="/">
    Log Out
  </a>
</div>
<div class="w3-display-middle" style="margin-top: -2%; font-size:110%;">
  <div class="card" style=" width: 45rem; height: 23rem;">
      <style>
          h3 {text-align: center;}
          p  {text-decoration: font-weight-light;}
      </style>

      {% block head %}
      <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/randomcolor@0.6.2/randomColor.js"></script>
      {% endblock %}

      {% block body %}
      <div class="container">
      <style>
          #chart-wrapper {
            display: inline-container;
            position: relative;
            width: 100%;
          }
        </style>
        <div id="chart-wrapper">
          <canvas id="bar-chart"></canvas>
        </div>
      </div>
       

      <div class="container">
      <style>
          #chart-wrapper {
            display: inline-container;
            position: relative;
            width: 100%;
          }
        </style>
        <div id="chart-wrapper">
          <canvas id="bar-chart"></canvas>
        </div>
      </div>
      {% endblock %}

      {% block js %}
      <script src="/static/js/charts.js"></script>
      {% endblock %}








