{% extends 'base.html' %}

{% include 'nav.html' %}
{% block content %}
<div class="container-fluid">
<div class="wrapper">
  <body>
    <header>
    <br/>
    <br/>
    <h4 class="hero-content">What can I help you with today, {{ session['fname'] }}?</h4>
</div>
</div>
<br/>
    </header>
    <ul>
      <li><a href="/delta_waves">(0.1-4hz) DELTA<br>Deep Sleep | Pain Relief | Anti-aging | Healing</a></li>
    </ul>
    <br/>
    <ul>
      <li><a href="/theta_waves">(4-8hz) THETA<br>REM Sleep | Deep Relaxation | Meditation | Creativity</a></li>
    </ul>
    <br/>
    <ul>
      <li><a href="/alpha_waves">(8-13hz) ALPHA<br>Relaxed Focus | Stress Reduction | Positive Thinking | Fast Learning</a></li>
    </ul>
    <br/>
    <ul>
      <li><a href="/beta_waves">(13-30hz) BETA<br>Focused Attention | Cognitive Thinking | Problem Solving | Active</a></li>
    </ul>
    <br/>
    <ul>
      <li><a href="/gamma_waves">(30-44hz) GAMMA<br>High Level Cognition | Memory Recall | Peak Awareness</a></li>
    </ul>
    <!-- <br/>
    <ul>
      <li><a href="/self_imporovement">Self Care</a></li>
    </ul> -->
    <br/>
    <ul>
      <li><a href="/hype_music">Hype Music</a></li>
    </ul>
    <br/>
    <!-- <ul>
      <li><a href="/singing_bowls">Singing Bowl Therapy</a></li>
    </ul> -->
    
<br/>

<div class="col-2">
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="main-content">
        <div class="text-area" id="quote_gen">
        <div onLoad="randomQuote" id="output" href="/static/js/generator.js">...</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script src="/static/js/generator.js"></script>


</body>
</div>
</div>

{% endblock %}