{% extends 'base.html' %}
{% include 'nav.html' %}
{% block content %}

<div class="container-fluid">
<br/>

<div>
    <head>
    <h1>EXERCISES</h1>
    <div>
        <div class="tenor-gif-embed" data-postid="25537730" data-share-method="host" data-aspect-ratio="0.921875" data-width="16%"><a href="https://tenor.com/view/anxiety-gif-25537730"></a><a href="https://tenor.com/search/anxiety-gifs"></a>
            <span class="border"></span>
            <span class="border-top"></span>
            <span class="border-right"></span>
            <span class="border-bottom"></span>
            <span class="border-left"></span>
        </div> 
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
</div>


</div>
{% endblock %}