<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
  body,h1 {font-family: "Raleway", sans-serif}
  body, html {height: 100%}
</style>
</head>

<div class="w3-display-topleft w3-padding-large w3-xlarge"><a style="text-decoration: none; font-size:110%; color: black;" href="/dashboard">
  WAVES
  </a>
</div>
<div class="w3-display-topright w3-padding-large">
  <a style="text-decoration: none; font-size:120%; color: black;" href="/mapjs">
    About
  </a>
  <a style="text-decoration: none; font-size:120%; color: black;"> | </a>
  <a style="text-decoration: none; font-size:120%; color: black;" href="/">
    Log Out
  </a>
</div>
<br>
<br>
<div class="w3-display-middle" style="margin-top: -5%; font-size:110%;">
    <div class="card" style="margin: auto; width: 40rem;">
        <style>
            h3 {text-align: center;}
            p {text-decoration: font-weight-light;}
        </style>
        <iframe width="100%" margin="0 auto" height="225" scrolling="no" frameborder="no" allow="autoplay" 
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1520937535&color=%23180902&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
            <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
            <a href="https://soundcloud.com/isis-najera-189318587" title="Isis Najera" target="_blank" style="color: #cccccc; text-decoration: none;">Isis Najera</a> ·
            <a href="https://soundcloud.com/isis-najera-189318587/sets/gamma-waves" title="Gamma Waves (30hz - 44hz )" target="_blank" style="color: #cccccc; text-decoration: none;">Gamma Waves (30hz - 44hz )</a>
        </div>
        <br>
        <div class="w3-display-middle" style="margin-top: 30%;">
            <div class="card" style="margin: auto; width: 40rem;">
                <style>
                    h3 {text-align: center;}
                    p  {text-decoration: font-weight-light;}
                </style>
        <h3 class="hero-content" style="font-size: 140%; font-family: raleway;">Your Brain On Gamma</h3>
    </div>
</div>