{% extends 'base.html' %}
{% include 'nav_index.html' %}
{% block content %}
<div class="container">
<br/>
<br/>
<form action="/users" method="POST">
  <!-- form action and method need to match in app.route (server.py) -->
    <p>
      email <br><input type="text" name="email">
    </p>

    <p>
      password <br><input type="password" name="password">
    </p>
  <div class="homepage-background">
    <button
        class="btn btn-primary btn-xl homepage-signup-button"
        data-toggle="modal"
        data-target="#signup-modal"
    >
        Sign Up
    </button>
  </div>
  </form>
  
  <br>
  <br>

  <form action="/dashboard" method="POST">
  <!-- form action and method need to match in app.route in (server.py) -->
    <p>
      email <br><input type="text" name="email">
    </p>

    <p>
      password <br><input type="password" name="password">
    </p>
  <div class="homepage-background">
    <button
        class="btn btn-primary btn-xl homepage-login-button"
        data-toggle="modal"
        data-target="#login-modal">
        Log In
    </button>
  </div>
  </form>
  </div>
{% endblock %}
