<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/static/images/homepage00.png');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
</head>
<body>

<div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge"><a style="text-decoration: none; font-size:115%;" href="/">
    WAVES
	</a>
  </div>
  
  <div class="w3-display-middle" style="margin-top: 5rem; color: rgb(236, 234, 234);">
    <h1 class="w3-lg" style="font-weight:500;">Discover The Power Of Holistic Healing</h1>
    <hr class="w3-border-grey" style="margin:auto; width:40%;">
    <p class="w3-large w3-center">
		<p><a style="text-decoration: none; font-size:120%; margin-bottom: 2rem; margin-left: 32.5%; margin-right: 10px; font-weight:500;" href="/login">Login</a>
		   <a style="text-decoration: none; font-size:150%;"> | </a>
		   <a style="text-decoration: none; font-size:120%; margin-left: 10px; margin-right: 10px;" href="/signup">Signup</a>
		   <a style="text-decoration: none; font-size:150%;"> | </a>
		   <a style="text-decoration: none; font-size:120%; margin-left: 10px;" href="/mapjs">About</a>
		</p>
	</p>
  </div>
</div>

</body>
</html>