{% extends 'base.html' %}
{% block title %}Waves - Sound Therapy{% endblock %}

{% block body %}

  <h1>Waves - Discover The Power Of Sound Therapy</h1>

  <h2>Blah blah Blah</h2>

  <h1>Sign Up</h1>
  <form action="/dashboard" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>
  <div class="homepage-background">
    <button
        class="btn btn-primary btn-xl homepage-signup-button"
        data-toggle="modal"
        data-target="#signup-modal"
    >
        Sign Up
    </button>
  </div>
  </form>
  
  <br>
  <br>
  <br>

  <h1>Log In</h1>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>
  <div class="homepage-background">
    <button
        class="btn btn-primary btn-xl homepage-login-button"
        data-toggle="modal"
        data-target="#login-modal"
    >
        Log In
    </button>
  </div>
  </form>
{% endblock %}
