{% extends 'homepage.html' %}
{% block title %}Waves - Sound Therapy
{% endblock %}

{% block head %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-
    scale=1">
  </head>
{% endblock %}


{% block head %}
    <form action="/form_login" method="post">
        <h2></h2>Username:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input name='password'><br><br>
        <input type="submit" value="Login">
    </form>
{% endblock %}


