<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
  body,h1 {font-family: "Raleway", sans-serif}
  body, html {height: 100%}
</style>
</head>
<body>

<div class="w3-display-topleft w3-padding-large w3-xlarge"><a style="text-decoration: none; font-size:110%; color: black;" href="/dashboard">
  WAVES
  </a>
</div>
<div class="w3-display-topright w3-padding-large">
  <a style="text-decoration: none; font-size:120%; color: black;" href="/mapjs">
    About
  </a>
  <a style="text-decoration: none; font-size:120%; color: black;"> | </a>
  <a style="text-decoration: none; font-size:120%; color: black;" href="/">
    Log Out
  </a>
</div>
  
</div>

</body>
</head>
</html>