

<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/dashboard">W A V E S</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" aria-current="page">
      <span class="navbar-toggler-icon"></span>
    </button>
    <br/>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link activate" href="/exercises" style="margin:5px;">Exercises</a>
        </li>
        <br />
        <li class="nav-item">
          <a class="nav-link activate" href="/about" style="margin:5px;">About</a>
        </li>
        <br />
        <li class="nav-item">
          <a class="nav-link activate" href="/logout" style="margin:5px;">Log Out</a>
        </li>
        <br />
        <li class="nav-item">
          <a class="nav-link activate" href="/mapjs" style="margin:5px;">User Map</a>
        </li>
      </ul>
    </div>
  </div>
</nav>