

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('homepage') }}">W A V E S</a>
    <button class="navbar-toggler" type="button" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" aria-current="page">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link tm-nav-link" href="{{ url_for('about') }}">About</a>
          <!-- "___ tm-nav-link" OR making a separate app.route in server makes nav bar redirect work -->
        </li>
      </ul>
    </div>
  </div>
</nav>





<!-- HELPER CODE: -->

<!-- `aria-current="page"` -> When you need to indicate the current page within a set of pagination links (main navigation): -->
<!-- <li class="nav-item">
<a class="nav-link active" aria-current="page" href="#">Sign Up</a>
</li> -->