{% extends 'base.html' %}
{% include 'nav.html' %}
{% block content %}
<div class="container-fluid" width="20%">
<br/>
<br/>
<h2> IN PERSON HOLISTIC HEALING THERAPY/EXPERIENCES </h2>
<br/>
<br/>

<form id="user-search" action="/user_search" method="GET">   

<div class="row g-2">
    <div class="col-md">
      <div class="form-floating">
        <input type="text" class="form-control" id="enter_zip" placeholder="zipcode">
        <label for="floatingInputGrid">Enter Zipcode</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <select class="form-select" id="holistic" aria-label="Floating label select example">
          <option value="sound_therapy">Sound Therapy</option>
          <option value="acupuncture">Acupuncture</option>
          <option value="plant_medicine">Plant Medicine</option>
        </select>
        <label for="floatingSelectGrid">Select Holistic Therapy</label>
      </div>
    </div>
  </div>

  <br/>
<!-- <select id= "holistic">
    <option value="sound_therapy">Sound Therapy</option>
    <option value="acupuncture">Acupuncture</option>
    <option value="plant_medicine">Plant Medicine</option>
</select> -->

<input class="waves-effect waves-dark bg-light btn" type="submit" value= "Search" style="margin:10px;">


<div id="user-search-results" class=""form-floating>
<li>
  {{ business['name']}}
</li>
<br />
{{ business['location']['display_address']}}

</div>
</div>
</div>
</form>

<script src="/static/js/user_search.js"></script>
</div>



<!-- <div class="container">
<br/>
<br/>

<h1> IN PERSON HOLISTIC HEALING THERAPY/EXPERIENCES </h1>

</div> -->


{% endblock %}