{% extends 'base.html' %}

{% include 'nav.html' %}
{% block content %}
<div class="container">
<br>
<form action="/session_invite" method="post">
    <label for="session_datetime">Start:</label>
    <input type="datetime-local" id="start_session" name="start_session"><br><br>
    <label for="session_datetime">End:</label>
    <input type="datetime-local" id="end_session" name="end_session"><br><br>


<!-- name tag must be the same for all -->
<!-- TODO: link brain wave to each radio button, then add that as location in server function. -->

<div class="form-check">
    <input class="form-check-input" type="radio" name="brain_wave_id" id="1" value="1">
    <label class="form-check-label" for="flexRadioDefault1">
      Delta Waves
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="brain_wave_id" id="2" value="2">
    <label class="form-check-label" for="flexRadioDefault2">
      Theta Waves
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="brain_wave_id" id="3" value="3">
    <label class="form-check-label" for="flexRadioDefault3">
      Alpha Waves
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="brain_wave_id" id="4" value="4">
    <label class="form-check-label" for="flexRadioDefault4">
      Beta Waves
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="brain_wave_id" id="flexRadioDefault5" value="5">
    <label class="form-check-label" for="flexRadioDefault5">
      Gamma Waves
    </label>
  </div>
  <br>
  <input type="submit" value="Book Session" name="session_id">
</form>
{% endblock %}