<!DOCTYPE html>
<html>
<head>
<title>WAVES</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
  body,h1 {font-family: "Raleway", sans-serif}
  body, html {height: 100%}
  .bgimg {
    background-image: url('/static/images/bg_01.png');
    min-height: 100%;
    background-position: center;
    background-size: cover;
  } 
</style>
</head>
<body>

<div class="w3-display-topleft w3-padding-large w3-xlarge">
  <a style="text-decoration: none; font-size:110%; color: black;" href="/dashboard">
  WAVES
  </a>
</div>
<div class="w3-display-topright w3-padding-large">
  <a style="text-decoration: none; font-size:120%; color: black;" href="/dashboard">
    Home
  </a>
  <a style="text-decoration: none; font-size:120%; color: black;"> | </a>
  <a style="text-decoration: none; font-size:120%; color: black;" href="/mapjs">
    About
  </a>
  <a style="text-decoration: none; font-size:120%; color: black;"> | </a>
  <a style="text-decoration: none; font-size:120%; color: black;" href="/">
    Log Out
  </a>
</div>
<br>
<div class="w3-display-middle" style="margin-top: -5%; font-size:110%;">
<div class="card" style="margin: auto; width: 45rem;">
  <ul class="list-group list-group-flush" style="margin: auto;">
    <li class="list-group-item"><a style="text-decoration: none; font-size:100%;" href="/delta_waves">(0.1-4hz) DELTA: Deep Sleep | Pain Relief | Anti-aging | Healing</a></li>
  </ul>
</div>

<div class="card" style="margin: auto; width: 45rem;">
  <ul class="list-group list-group-flush" style="margin: auto;">
    <li class="list-group-item"><a style="text-decoration: none; font-size:100%;" href="/theta_waves">(4-8hz) THETA: REM Sleep | Deep Relaxation | Meditation | Creativity</a></li>
  </ul>
</div>

<div class="card" style="margin: auto; width: 45rem;">
  <ul class="list-group list-group-flush" style="margin: auto;">
    <li class="list-group-item"><a style="text-decoration: none; font-size:100%;" href="/alpha_waves">(8-13hz) ALPHA: Relaxed Focus | Stress Reduction | Positive Thinking | Fast Learning</a></li>
  </ul>
</div>

<div class="card" style="margin: auto; width: 45rem;">
  <ul class="list-group list-group-flush" style="margin: auto;">
    <li class="list-group-item"><a style="text-decoration: none; font-size:100%;" href="/beta_waves">(13-30hz) BETA: Focused Attention | Cognitive Thinking | Problem Solving | Active</a></li>
  </ul>
</div>

<div class="card" style="margin: auto; width: 45rem;">
  <ul class="list-group list-group-flush" style="margin: auto;">
    <li class="list-group-item"><a style="text-decoration: none; font-size:100%;" href="/gamma_waves">(30-44hz) GAMMA: High Level Cognition | Memory Recall | Peak Awareness</a></li>
  </ul>
</div>

<br>

<div class="card" style="margin: auto; width: 45rem;">
  <ul class="list-group list-group-flush" style="margin: auto;">
    <li class="list-group-item"><a style="text-decoration: none; font-size:100%;" href="/hype_music">Hype Music</a></li>
  </ul>
</div>
<br>
<div class="card" style="margin: auto; width: 45rem;">
  <ul class="list-group list-group-flush" style="margin: auto;">
    <li class="list-group-item"><a style="text-decoration: none; font-size:100%;" href="/singing_bowls">Singing Bowl Therapy</a></li>
  </ul>
</div>
</div>

</body>
</div>
</div>

</body>
</head>
</html>

